body {
  font-family: "MuseoModerno", sans-serif;
}

button {
  border-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.promo-section {
  background: url(../img/bg/bg-women.png) center center/cover no-repeat;
  min-height: 650px;
  padding-top: 21px;
}
.promo-section-logo {
  width: 251px;
}
.promo-section-logo-link {
  width: 100%;
}
.promo-section-logo-link img {
  width: 100%;
}
.promo-section-middle-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo-section-middle-part div:first-child {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.promo-section-middle-part div:last-child {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.promo-section-telefone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.promo-section-telefone-number {
  color: #FFF;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.promo-section-telefone-number:hover {
  color: #FFF;
}
.promo-section-telefone button {
  width: 153px;
  height: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #C70101;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 4px;
  border-radius: 8px;
}
.promo-section-main-part-title {
  margin-top: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 71px;
}
.promo-section-main-part-title h1 {
  color: #FFF;
  text-align: right;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 100% */
  text-transform: uppercase;
  margin-bottom: 0px;
}
.promo-section-main-part-title h2 {
  color: #FFF;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 0px;
}
.promo-section-main-part-preference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 60px;
}
.promo-section-main-part-preference-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 50px;
}
.promo-section-main-part-preference-item div {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  margin-top: 20px;
}
.promo-section-main-part-button {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.promo-section-main-part-button button {
  width: 300px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #C70101;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
}
.promo-section-main-part-button .conection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  font-size: 16px;
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.promo-section-main-part-button .conection div {
  margin-right: 6px;
}
.promo-section-main-part-button .conection a {
  text-decoration-line: underline;
  text-transform: uppercase;
}

.advantage-section {
  min-height: 473px;
  background-color: #F6F6F6;
  padding-top: 73px;
}
.advantage-section-title {
  color: #0D0D0D;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 100% */
  margin-bottom: 60px;
}
.advantage-section-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.advantage-section-item img {
  width: 70px;
  height: 70px;
}
.advantage-section-item div {
  color: #0D0D0D;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
}
.advantage-section-item p {
  color: #0D0D0D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 128.571% */
  margin-top: 20px;
  min-width: 200px;
  max-width: 270px;
}
.advantage-section-item p span {
  color: #F00;
  text-decoration-line: underline;
}

.consultation-section {
  background: url(../img/bg/bg-snikers.png) center center/cover no-repeat;
  min-height: 680px;
  padding-top: 100px;
}
.consultation-section-title {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 150% */
  text-transform: uppercase;
}
.consultation-section-text-form {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 8px;
}
.consultation-section .feed-form {
  margin-top: 36px;
  width: 303px;
}
.consultation-section .feed-form input {
  margin-bottom: 10px;
  width: 100%;
  height: 54px;
  border: none;
  padding: 0px 20px;
  color: #4B4B4B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px; /* 471.429% */
}
.consultation-section .feed-form button {
  width: 100%;
  height: 58px;
  background-color: #C70101;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 6px;
  margin-top: 8px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .promo-section-main-part-title h1 {
    font-size: 34px;
    line-height: 34px;
  }
  .promo-section-main-part-title h2 {
    font-size: 20px;
    line-height: 20px;
  }
  .promo-section-telefone-number {
    font-size: 17px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .promo-section-main-part-title h1 {
    font-size: 34px;
    line-height: 34px;
  }
  .promo-section-main-part-title h2 {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .promo-section-logo {
    width: 200px;
  }
  .promo-section-middle-part div:first-child {
    font-size: 10px;
  }
  .promo-section-middle-part div:last-child {
    font-size: 16px;
  }
  .promo-section-main-part-title h1 {
    font-size: 34px;
    line-height: 34px;
  }
  .promo-section-main-part-title h2 {
    font-size: 20px;
    line-height: 20px;
  }
  .promo-section-telefone-number {
    font-size: 14px;
  }
  .promo-section-telefone button {
    width: 135px;
    font-style: 11px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .promo-section-logo {
    width: 200px;
  }
  .promo-section .display-none {
    display: none;
  }
  .promo-section-main-part-title h1 {
    font-size: 20px;
    line-height: 20px;
  }
  .promo-section-main-part-title h2 {
    font-size: 16px;
    line-height: 16px;
  }
  .promo-section-telefone-number {
    font-size: 14px;
  }
  .promo-section-telefone button {
    width: 135px;
    font-size: 11px;
  }
  .promo-section-main-part-preference-item {
    margin-right: 0px;
    margin-left: 50px;
  }
  .promo-section-main-part-button button {
    width: 250px;
    height: 45px;
    font-size: 14px;
  }
  .promo-section-main-part-button .conection {
    font-size: 14px;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .promo-section-logo {
    width: 150px;
  }
  .promo-section .display-none {
    display: none;
  }
  .promo-section-main-part-title h1 {
    font-size: 20px;
    line-height: 20px;
  }
  .promo-section-main-part-title h2 {
    font-size: 16px;
    line-height: 16px;
  }
  .promo-section-telefone-number {
    font-size: 12px;
  }
  .promo-section-telefone button {
    width: 110px;
    font-size: 10px;
  }
  .promo-section-main-part-preference-item {
    margin: 0px 15px;
  }
  .promo-section-main-part-button button {
    width: 250px;
    height: 45px;
    font-size: 14px;
  }
  .promo-section-main-part-button .conection {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */